<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CRUD Application</title>

  <!-- Bootstrap CSS -->
  {{! <link }}
  {{! href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
  /> }}
  <link type="text/css" rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="login.css" />
  <link rel="stylesheet" href="register.css" />
</head>
<nav class="navbar">
  <p class="navbar-brand">TODO MANAGER</p>

  <p class="navbar-brand">Welcome</p>

</nav>
{{outlet}}