<div class="todo-container">
  <div class="todos">
    <input type="checkbox" />
    <p>Buy groccery</p>
    <ul class="crud-buttons">
      {{! <li><a href="complete_todo" id="complete-todo">Completed</a></li> }}
      <li><a href="delete_todo" id="delete-todo">Delete</a></li>
    </ul>
  </div>
</div>
{{yield}}