form {
  border: 3px solid #f1f1f1;
}

body {
  background-image: url("https://img.freepik.com/free-psd/top-view-notebook-with-daily-tasks-laptop_23-2148474951.jpg?w=2000");
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.heading {
  color: #02006c;
  font-size: 40px;
  margin: 30px auto;
  max-width: 563px;
  font-weight: bolder;
}
.main-heading {
  color: black;
  font-size: 48px;
  margin: 0px auto;
  max-width: 413px;
  font-weight: bolder;
}
/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 52px 6px 52px 0;
  color: white;
  font-size: 30px;
}

.alinks {
  color: white;
  background-color: #f14182;
  border-radius: 10px;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: left;
  }

  .cancelbtn {
    width: 100%;
  }
}
